// Typography
$sans-serif: $helvetica;
$serif: $georgia;
$base-font-family: $serif;
$header-font-family: $base-font-family;

// Font Sizes
$base-font-size: 18px;
$large-font-size: $base-font-size * 1.16;
$medium-font-size: $base-font-size * 1.11;
$small-font-size: $base-font-size * 0.95;
$h1-font-size: $base-font-size * 2.6;
$h2-font-size: $base-font-size * 1.95;
$h3-font-size: $base-font-size * 1.8;
$h4-font-size: $base-font-size * 1.5;
$h5-font-size: $base-font-size * 1.4;
$h6-font-size: $base-font-size;

// Line height
$base-line-height: 1.45;
$header-line-height: 1.325;

// Other Sizes
$base-border-radius: 8px;
$base-spacing: $base-line-height * 1em;
$base-z-index: 0;

// Base Colors
$green: #1eb533;
$blue: #3a8cc9;
$dark-gray: #333333;
$medium-gray: #CCCCCC;
$light-gray: #dddddd;