ul.checkmarks
  margin: 18px 0

  li
    font-size: 27px
    background-image: url(/images/checkmark.svg)
    background-repeat: no-repeat
    background-position: center left
    background-size: 28px 28px
    padding-left: 65px
    margin-bottom: 5px

    &:last-child
      margin-bottom: 0