// Susy settings
$susy: (container: 68em,columns: 12, gutters: 1 / 2, math: fluid, gutter-position: split)

// Breakpoints
$tablet: 768px
$desktop: 1024px

body
  margin: 0

.headwrap
  +clearfix
  box-shadow: 0 2px 3px 0 #DFDFDF

article
  background-color: #FFFFFF

.main-content-container
  +container