#header
  background-color: $header-background-color
  position: relative

  .top
    +clearfix

    .inner
      height: 90px
      padding-top: 20px
      +container

      .logo-wrapper, .contact

        .call

          img
            float: right
            display: block
            max-height: 52px

          a
            display: none
            margin-left: 18px
            float: right
            color: $theme-color
            font-size: 2em

            +breakpoint($tablet)
              display: block

      .logo-wrapper
        +span(8)

        +breakpoint($tablet)
          +span(5)

        +breakpoint($desktop)
          +span(6)

      .contact
        +span(2)

        +breakpoint($tablet)
          +span(5)

        +breakpoint($desktop)
          +span(6)

      .mobile-menu-button
        +span(2)

        +breakpoint($tablet)
          +span(1)

        +breakpoint($desktop)
          display: none

#desktop-navigation
  +breakpoint($mobile)
    display: none