$hero-height: 320px

.hero
  height: $hero-height

  +breakpoint($tablet)
    padding-top: $hero-height / 2 - 110px
    
  h1
    +span(12)
    font-size: $h2-font-size
    color: $inverted-color

.hero-illustration
  display: none

  +breakpoint($tablet)
    +span(2)
    display: block